* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: 'Overpass';
}

:root {
    --primary-color: #FF2626;
    --darkRed-color: #BD1616;
    --accent2-color: #FFE6E6;
    --accent3-color: #9AC8CD;
    --secondary-tint: #F3F8FF;
    --dark-color: #050000;
    --negative-color: #FF4E4E;
    --darkgrey-color: #444444;
    --lightygrey-color: #D9D9D9;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: 'Epilogue', sans-serif;
}

.cabin {
    font-family: Cabin;
}

body {
    background: url('../media/images/documents1.jpg');
    background-color: var(--dark-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--plane-color);
}

nav {
    /* background-color: #ffffff05; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: var(--dark-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.docsRow1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-action {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    gap: 8px;
    width: fit-content;
}

select:hover,
select:focus {
    box-shadow: 0 1px 16px 0 rgba(152, 153, 167, 0.37);
    outline: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    /* width: fit-content; */
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: var(--plane-color);
    cursor: pointer;
    width: 100%;
}

form option {
    background-color: var(--plane-color);
    color: var(--dark-color);
}

.docs {
    color: var(--plane-color);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(139, 140, 156, 0.112);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 80%;
    height: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.documents-container {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem 1rem; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.documentBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.documentBox:hover{
    box-shadow: 0 8px 32px 0 rgba(100, 101, 115, 0.37);
}

.documentBox img {
    width: 64px;
}

.documentBox p {
    font-size: 10px;
}

.documentBox button {
    width: 100%;
    padding: 0.3rem;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.horizontalLine {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}


@media (max-width: 1600px) {

    main{
        height: fit-content;
    }

    .docs{
        width: 100%;
        height: 90%;
        /* margin: 0.5rem; */
    }
    
    .documents-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 700px) {

    main{
        margin-top: 5rem;
        overflow: scroll;
        height: fit-content;
    }

    .docs{
        width: 100%;
        height: fit-content;
        margin: 0.5rem;
    }

    .documents-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .title h1{
        font-size: 24px;
    }

    .sort-action{
        font-size: 12px ;
    }

}