* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    color: var(--textcolor);
    font-family: 'Overpass';
}

:root {
    --primary-color: #FF2626;
    --darkRed-color: #BD1616;
    --accent2-color: #FFE6E6;
    --accent3-color: #9AC8CD;
    --secondary-tint: #F3F8FF;
    --dark-color: #050000;
    --negative-color: #FF4E4E;
    --darkgrey-color: #444444;
    --lightygrey-color: #D9D9D9;
    --textfieldgray-color: #F5F5F5;
    --plane-color: #ffffff;
    --border-shadow: rgba(23, 26, 31, 0.252);
    --font-family: 'Epilogue', sans-serif;
}

.cabin {
    font-family: Cabin;
}

body {
    background: url('../media/images/HelpBg1.jpg');
    background-color: var(--dark-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    /* background-color: #ffffff05; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: var(--dark-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

form {
    color: var(--plane-color);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(139, 140, 156, 0.112);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 40%;
    /* height: 40%; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input-container span {
    font-size: 12px;
    color: #ffffff90;
}

.input-container input,
.input-container textarea {
    padding: 8px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    outline: none;
    width: 100%;
}

.input-container input:focus,
.input-container textarea:focus {
    box-shadow: 0 8px 32px 0 rgba(200, 201, 216, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btns input {
    border: 1px solid transparent;
    outline: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
}

.btns input[type=submit] {
    background-color: var(--dark-color);
}

.btns input[type=button] {
    background-color: transparent;
    color: #fc6601;
}

.btns input:hover {
    transform: scale(0.9);
}

@media (max-width: 1600px) {}

@media (max-width: 700px) {

    form {
        width: 100%;
        margin: 0.5rem;
        padding: 1rem;
    }
}